.title {
	composes: defaultText from "../../typography.module.css";
	font-size: 2.5rem;
	text-align: center;
}

.darkerBackground {
	background: var(--modalDarkerPink);
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	width: calc(var(--modalWidth) / 2);
}

.subTitle {
	composes: defaultText from "../../typography.module.css";
	font-size: 2rem;
	margin-top: -1.5rem;
}

.subTitle span:last-child {
	font-size: 3rem;
}

.list {
	composes: defaultText from "../../typography.module.css";
	font-size: 1.5rem;
	line-height: 1.3;
	padding: 0.5rem;
}

.list *:not(:last-child) {
	margin-right: 0.75rem;
}

.list li span:first-child {
	font-size: 1.5rem;
}

.statsNumbers {
	font-size: 2rem;
}

.list li {
	display: flex;
	align-items: center;
}

.list li div {
	margin-top: 0.5rem;
}

.brickButton {
	composes: cementComposition from "../BrickContainer/styles.module.css";

	background-color: var(--defaultBrickColor);
	border: 3px solid var(--defaultCementColor);
	min-width: 200px;
	transition: transform 0.25s;
}

.brickButton:hover {
	background-color: var(--secondBrickColor);
	transform: scale(1.05);
}

.text {
	composes: defaultText from "../../typography.module.css";
	font-size: 1.75rem;
}
