.fileSelection {
	display: flex;
}

.fileSelection > h1 {
	margin-bottom: 1rem;
}

.fileSelection ul {
	margin-bottom: 2rem;
	margin-left: 2rem;
	list-style-type: square;
}

.fileSelection ul > * {
	margin-bottom: 1rem;
}

.fileSelection li {
	font-size: 1.5rem;
}

.fileSelection span {
	cursor: pointer;
}

.fileSelection span:hover {
	color: orange;
}
