.brickContainer {
	--containerWidth: 700px;
	--brickHeight: 50px;
	--brickGap: 2px;
	--brickWidth: 20%;
	--brickSize: calc(var(--brickWidth) - var(--brickGap));
	--brickSizeSmall: calc(var(--brickWidth) / 2 - var(--brickGap));

	width: var(--containerWidth);
	margin: 0 auto;
	border: 5px solid violet;
	margin-top: auto;
	height: 100%;
}

.brickRowContainer {
	display: flex;
	align-content: end;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
	height: 100%;
}

.brick {
	background-color: white;
	height: var(--brickHeight);
	background: #45afc1;
	width: var(--brickSize);
	margin: calc(var(--brickGap) / 2);
	border-radius: 4px;
}

.smallBrick {
	width: var(--brickSizeSmall);
	/* width: calc(10% - 2px); */
}
