.wallContainer {
	--containerWidth: 700px;
	--brickHeight: 50px;
	--brickGap: 5px;
	--brickWidth: 20%;
	--brickSize: calc(var(--brickWidth) - var(--brickGap));
	--brickSizeSmall: calc(var(--brickWidth) / 2 - var(--brickGap));
	--brickRounding: 4px;
	--brickDropAnimationDuration: 500ms;
	--hardShakeBrickAnimationDuration: 600ms;
	--hardShakeBrickAnimationDelay: 450ms;

	--defaultBrickColor: #e66465;
	--secondBrickColor: #cd5c7c;
	--defaultCementColor: #005170;
	--secondCementColor: #0b6892;

	width: var(--containerWidth);
	margin: 0 auto;
	/* debug: container to wrap around */
	/* border: 5px solid violet;  */
	margin-top: auto;
	height: 100%;
	padding: 2rem;
}

.brickRowContainer {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap-reverse;
	height: 100%;
	position: relative;
}

.brickRow {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	flex: 1 1 100%;
}

.cementRow {
	background: linear-gradient(
		-90deg,
		var(--defaultCementColor),
		var(--secondCementColor)
	);

	width: 100%;
	height: var(--brickGap);
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

/* Move to util as this is a composition class */
.brickCementProperties {
	height: var(--brickHeight);
	width: var(--brickSize);
	background-color: var(--defaultCementColor);
}

.brickRow .brickCementSide:first-child {
	border-bottom-right-radius: var(--brickRounding);
	border-top-right-radius: var(--brickRounding);
}

.brickRow .brickCementSide:last-child {
	border-bottom-left-radius: var(--brickRounding);
	border-top-left-radius: var(--brickRounding);
}

.brickCementSide {
	composes: brickCementProperties;
	padding-left: calc(var(--brickGap));
}

/* should be used as showCompletedrRow */
.brickCementRow {
	composes: brickCementProperties;
	padding-top: calc(var(--brickGap));
}

.brickCementSide:last-child {
	padding-left: 0;
	/* Make sure the bricks in the end will fit (without cement) */
	--brickSize: var(--brickWidth);
}

.brickCementSide:last-child.smallBrick {
	padding-left: 0;
	/* Make sure the bricks in the end will fit (without cement)  */
	--brickSizeSmall: calc(var(--brickWidth) / 2);
}

.brick {
	background-color: var(--defaultBrickColor);
	height: var(--brickHeight);
	border-radius: var(--brickRounding);
	background: linear-gradient(
		120deg,
		var(--defaultBrickColor),
		var(--secondBrickColor)
	);
}

.smallBrick {
	width: var(--brickSizeSmall);
}

.smallBrick:last-child {
	/* --brickSizeSmall: calc(
		var(--brickWidth) / 2
	); Make sure the bricks in the end will fit (without cement) */
}

.currentBrick {
	/* background: gold; */
}

.dropBrick {
	animation-name: dropBrick;
	animation-delay: 0ms;
	animation-duration: var(--brickDropAnimationDuration);
	animation-timing-function: ease-in;
}

.hardShakeBrick {
	animation-name: hardShakeBrick;
	animation-duration: var(--hardShakeBrickAnimationDuration);
	animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
	animation-delay: var(--hardShakeBrickAnimationDelay);
	transform: translate3d(0, 0, 0);
}

.softShakeBrick {
	animation-name: softShakeBrick;
	animation-duration: 520ms;
	animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
	animation-delay: 450ms;
	transform: translate3d(0, 0, 0);
}

@keyframes dropBrick {
	0% {
		opacity: 0;
		transform: translate(0, -100px) rotate(-5deg);
	}
	70% {
		opacity: 1;
		transform: translate(0, -100px) rotate(-5deg);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes softShakeBrick {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(1px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-2px, 2px, 0);
	}

	40%,
	60% {
		transform: translate3d(2px, 0, 0);
	}
}

@keyframes hardShakeBrick {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-3px, 4px, 0);
	}

	40%,
	60% {
		transform: translate3d(3px, 0, 0);
	}
}
