.brickContainer {
	--containerWidth: 700px;
	--brickHeight: 50px;
	--brickGap: 2px;
	--brickWidth: 20%;
	--brickSize: calc(var(--brickWidth) - var(--brickGap));
	--brickSizeSmall: calc(var(--brickWidth) / 2 - var(--brickGap));
	--brickDropAnimationDuration: 500ms;

	width: var(--containerWidth);
	margin: 0 auto;
	border: 5px solid violet;
	margin-top: auto;
	height: 100%;
}

.brickRowContainer {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap-reverse;
	height: 100%;
	position: relative;
}

.brickRow {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	flex: 1 1 100%;
}

.brick {
	background-color: #45afc1;
	height: var(--brickHeight);
	width: var(--brickSize);
	margin: calc(var(--brickGap) / 2);
	border-radius: 2px;
}

.smallBrick {
	width: var(--brickSizeSmall);
	/* width: calc(10% - 2px); */
}

.dropBrick {
	animation-name: dropBrick;
	animation-delay: 0ms;
	animation-duration: var(--brickDropAnimationDuration);
	animation-timing-function: ease-in;
}

.shakeBrick {
	animation-name: shakeBrick;
	animation-duration: 820ms;
	animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
	animation-fill-mode: forwards;
	animation-delay: 400ms;
	transform: translate3d(0, 0, 0);

	transition: background 1s;
}

.softShakeBrick {
	animation-name: softShakeBrick;
	animation-duration: 520ms;
	animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
	animation-fill-mode: forwards;
	animation-delay: 450ms;
	transform: translate3d(0, 0, 0);
}

@keyframes dropBrick {
	0% {
		opacity: 0;
		transform: translate(0, -100px) rotate(-5deg);
	}
	70% {
		opacity: 1;
		transform: translate(0, -100px) rotate(-5deg);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes softShakeBrick {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(1px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-2px, 2px, 0);
	}

	40%,
	60% {
		transform: translate3d(2px, 0, 0);
	}
}

@keyframes shakeBrick {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 4px, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
