.gridContainer {
	--cellWidth: 35px;
	--cellHeight: 50px;

	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.grid {
	background-image: repeating-linear-gradient(
			#1bcaff 0 1px,
			transparent 1px 100%
		),
		repeating-linear-gradient(90deg, #1bcaff 0 1px, transparent 1px 100%);
	background-size: var(--cellWidth) var(--cellHeight);
	height: 100%;
	max-width: 1191px;
	max-height: 901px;
	margin: 0 auto;
	overflow: hidden;

	display: grid;
	grid-template-columns: repeat(auto-fill, var(--cellWidth));
	grid-template-rows: repeat(auto-fill, var(--cellHeight));
	position: relative;
	cursor: pointer;
}

.selectedCell {
	background: rgba(1, 1, 1, 0.2);
	z-index: 1;
	position: absolute;
	left: calc(var(--x) * var(--cellWidth));
	top: calc(var(--y) * var(--cellHeight));
	height: var(--cellHeight);
	pointer-events: none;
}

.veryLarge {
	width: var(--veryLarge);
}

.large {
	width: var(--large);
}

.medium {
	width: var(--medium);
}

.small {
	width: var(--small);
}

.verySmall {
	width: var(--verySmall);
}
