.gridContainer {
	--width: 70px;
	--height: 50px;

	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.grid {
	background-image: repeating-linear-gradient(
			#ccc 0 1px,
			transparent 1px 100%
		),
		repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
	background-size: 70px 50px;
	height: 100%;
	max-width: 1191px;
	max-height: 901px;
	margin: 0 auto;
	overflow: hidden;

	display: grid;
	grid-template-columns: repeat(auto-fill, var(--width));
	grid-template-rows: repeat(auto-fill, var(--height));
	position: relative;
	cursor: pointer;
}

.selectedCell {
	grid-row: var(--y);
	grid-column: var(--x);
	background: rgba(1, 1, 1, 0.2);
	z-index: 1;
}
