.tableAnswerDisplay {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.sumDisplay {
	composes: defaultText from "../../typography.module.css";
	-webkit-text-stroke: 2px var(--defaultBrickColor);
	letter-spacing: 3px;
	position: relative;
	display: flex;
}

.sumDisplay div:nth-child(1) {
	font-size: 6rem;
	transform: rotate(-6deg);
	align-self: center;
	/* margin-top: 1rem; */
}

.sumDisplay div:nth-child(3) {
	font-size: 6rem;
	transform: rotate(4deg);
	align-self: center;
	/* margin-top: 1rem; */
}

.sumDisplay div:nth-child(2) {
	font-size: 4rem;
	align-self: center;
}

.sumDisplay div:nth-child(4) {
	font-size: 4rem;
	align-self: center;
	transform: rotate(-6deg);
	margin-left: -0.25rem;
}
