.inventory {
	background: coral;
	position: absolute;
	left: 0;
	padding: 1rem;
}

.vertical {
	height: 300px;
	top: calc(50% - 150px);
}

.horizontal {
	width: 100%;
	height: 100px;
	top: 0;
}

.brickInventoryContainer {
	display: flex;
	gap: 1rem;
	align-items: center;
	height: 100%;
}
