.inventory {
	background: coral;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1rem;
}

.vertical {
	height: 300px;
	top: calc(50% - 150px);
}

.horizontal {
	width: 100%;
	height: 100px;
	top: 0;
}

.brickInventoryContainer li > div {
	position: static;
}

.listItem:hover {
	cursor: pointer;
	background: var(--defaultBrickColor);
}

.listItem {
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
}

.selected {
	background-color: var(--defaultBrickColor);
}

.brickSizeText {
	composes: defaultText from "../../../typography.module.css";
	margin-left: 0.5rem;
}
