.modalContainer {
	--modalPink: #ffa9a9;
	--modalDarkerPink: #ff8b8b;
	--modalWidth: 600px;
	--modalContentWidth: calc(var(--modalWidth) - 100px);

	composes: cementComposition from "../BrickContainer/styles.module.css";

	position: absolute;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	width: var(--modalWidth);
	z-index: 3;
	background-color: var(--modalPink);
	border: 4px solid var(--defaultCementColor);
}

.modalInner {
	margin: 0 auto;
	width: var(--modalContentWidth);
}

.backdrop {
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.textCollectionWrapper {
	padding: 1rem;
	background: var(--modalDarkerPink);
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.textCollectionWrapper > h2 {
	margin-top: -0.5em;
}

.container {
	width: 370px;
}
