.modal {
	position: absolute;
	margin: 0 auto;
	top: calc(50% - 100px);
	left: 0;
	right: 0;
	width: 400px;
	height: 200px;
	z-index: 1;
	background-color: var(--defaultBrickColor);
	display: grid;
	grid-template-rows: auto auto auto;
	justify-content: center;
	padding: 2rem;
}

.modal button {
	margin: auto;
}

.modal ul {
	background-color: red;
}
