.modalContainer {
	display: grid;
	grid-template-rows: 70px 1fr;
	padding: 1rem;
	align-items: center;
}

.title {
	composes: defaultText from "../../typography.module.css";
	font-size: 2.25rem;
	text-align: center;
	line-height: 1.1;
}

.subTitle {
	composes: defaultText from "../../typography.module.css";
	font-size: 2.25rem;
	margin-top: -0.25em;
	text-align: center;
}

.listItem {
	composes: defaultText from "../../typography.module.css";
	margin-top: -0.75rem;
	font-size: 1.85rem;
	display: flex;
	justify-content: space-between;
}

.buttonContainer {
	display: flex;
	justify-content: space-evenly;
}

.line {
	composes: cementComposition from "../BrickContainer/styles.module.css";
	height: calc(var(--cementHeight) - 2px);
	width: 100%;
	border: 0;
	margin-top: 1rem;
	background-color: var(--defaultCementColor);
}
