.filename {
	margin-right: 1rem;
}

.fileSelectionDisplay {
	max-height: 200px;
	overflow: scroll;
	position: absolute;
	border: 3px var(--primaryBlue) dashed;
	background-color: var(--defaultBrickColor);
	padding: 1rem;
	z-index: 5;
}

.fileSelectionDisplay .close {
	position: absolute;
	right: 1rem;
}

.fileSelectionDisplayContainer {
	display: flex;
}
