/* To be removed */
.brickRowContainer {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap-reverse;
	height: 100%;
}

.brickRow {
	display: grid;
	grid-template-columns: repeat(var(--columns), 70px);
	direction: rtl;
	order: var(--rowOrder);
}
