.brickComposition {
	--brickShadowColor: #b75f70;

	composes: cementComposition from "../BrickContainer/styles.module.css";

	border-right: var(--cementWidth) solid var(--defaultCementColor);
	border-top: var(--cementWidth) solid var(--defaultCementColor);
	border-bottom: var(--cementWidth) solid var(--defaultCementColor);

	background: linear-gradient(
		90deg,
		var(--defaultBrickColor),
		var(--secondBrickColor)
	);
}

.brickContainer:last-child .brick {
	border-left: var(--cementWidth) solid var(--defaultCementColor);
}

.brick {
	composes: brickComposition;
	composes: brickSize from "../../composition.css";
	position: relative;
}

.brickShadow {
	position: absolute;
	bottom: 0;
	background-color: var(--brickShadowColor);
	width: 100%;
	height: 8px;
}

.smallBrick {
	composes: brickSize from "../../composition.css";

	width: var(--brickSizeSmall);
}

.largeBrick {
	composes: brickSize from "../../composition.css";
	width: calc(var(--brickSize) * 3);
}

.lastBrick {
	margin: auto;
	/* border-left: none; */
}

.lastBrickInner {
	background: linear-gradient(
		140deg,
		#5d4a1f 5%,
		#d1b464 34%,
		#ffffac 67%,
		#d1b464 85%,
		#5d4a1f 97%
	);
	background-size: 1000% 1000%;

	border: 4px solid #8a6e2f;
	background-size: 200% 300%;
	animation: animateGoldenBrick 10s linear infinite;
}

@keyframes animateGoldenBrick {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.disabledBrick:last-child {
	/* border-left: 1px solid red; */
	/* border-left: var(--cementWidth) dashed var(--defaultCementColor); */
}

.disabledBrickInner {
	background: none;
	/* border-style: dashed; */
	/* border-left: 0; */
	border-right: var(--cementWidth) dashed var(--defaultCementColor);
	border-top: var(--cementWidth) dashed var(--defaultCementColor);
	border-bottom: 0;
	/* border-bottom: var(--cementWidth) dashed var(--defaultCementColor); */
	/* border-left: var(--cementWidth) dashed var(--defaultCementColor); */
}

.disabledBrick:last-child .disabledBrickInner {
	border-left: var(--cementWidth) dashed var(--defaultCementColor);
}

.currentBrick {
}
.crackedBrick {
}

.cracksContainer {
	stroke-dasharray: 400;
	stroke-dashoffset: 450;
	animation: animateCracks 3s ease-in forwards;
}

.brick svg {
	position: absolute;
	top: 0;
}

.text {
	composes: defaultText from "../../typography.module.css";

	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: -0.5rem;
}

.dropBrick {
	--brickDropAnimationDuration: 500ms;

	animation-name: dropBrick;
	animation-delay: 0ms;
	animation-duration: var(--brickDropAnimationDuration);
	animation-timing-function: ease-in;
}

.hardShakeBrick {
	--hardShakeBrickAnimationDuration: 600ms;
	--hardShakeBrickAnimationDelay: 450ms;
	animation-name: hardShakeBrick;
	animation-duration: var(--hardShakeBrickAnimationDuration);
	animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
	animation-delay: var(--hardShakeBrickAnimationDelay);
	transform: translate3d(0, 0, 0);
}

.softShakeBrick {
	animation-name: softShakeBrick;
	animation-duration: 520ms;
	animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
	animation-delay: 450ms;
	transform: translate3d(0, 0, 0);
}

.iconBrick {
	composes: cementComposition from "../BrickContainer/styles.module.css";
	margin-top: 1.5rem;
	border: 2px solid var(--defaultCementColor);
	width: 40px;
	height: 20px;
	background: var(--defaultBrickColor);
}

@keyframes dropBrick {
	0% {
		opacity: 0;
		transform: translate(0, -100px) rotate(-5deg);
	}
	70% {
		opacity: 1;
		transform: translate(0, -100px) rotate(-5deg);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes softShakeBrick {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(1px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-2px, 2px, 0);
	}

	40%,
	60% {
		transform: translate3d(2px, 0, 0);
	}
}

@keyframes hardShakeBrick {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-3px, 4px, 0);
	}

	40%,
	60% {
		transform: translate3d(3px, 0, 0);
	}
}

@keyframes animateCracks {
	to {
		stroke-dashoffset: 0;
	}
}
