.timer,
.points {
	composes: defaultText from "../../typography.module.css";
	flex: 1;
	align-self: center;
}

.timer {
	font-size: 3rem;
	text-align: right;
}

.points {
	font-size: 2.5rem;
}

.points span:first-child {
	font-size: 3rem;
	margin-right: 0.25rem;
}

.points span:last-child {
	font-size: 2rem;
}

.pointsList {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	flex: 1;
}

.gameContainer {
	background: steelblue;
}

.gameInfoContainer {
	display: flex;
	width: 700px;
	margin: 0 auto;
	justify-content: space-between;
}
